PORT=3000
BOT_TOKEN=your_bot_token_here
WEBAPP_URL=https://your-app.onrender.com
CHANNEL_USERNAME=arkootzif
SUPPORT_USERNAME=x7fan
OWNER_CHAT_ID=your_telegram_id
SMS_SECRET=SeningMaxfiyKaliting123!
ADMIN_PASSWORD=change_this
